HouseAutomation.json
[
    {
        "id": "0a06f0327cd1dc29",
        "type": "tab",
        "label": "House",
        "disabled": false,
        "info": "Automations designed to control the house",
        "env": []
    },
    {
        "id": "1c1f6e258d62731d",
        "type": "tab",
        "label": "Evaristo, the Telegram Bot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ea160142734e50c",
        "type": "subflow",
        "name": "Nuno Away?",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 160,
                "y": 100,
                "wires": [
                    {
                        "id": "547f8b9977a541c3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 100,
                "wires": [
                    {
                        "id": "954bcf57e02cad2a",
                        "port": 0
                    }
                ]
            },
            {
                "x": 580,
                "y": 160,
                "wires": [
                    {
                        "id": "954bcf57e02cad2a",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "0dc0f8af07e2db70",
        "type": "subflow",
        "name": "Cat Away?",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 260,
                "y": 180,
                "wires": [
                    {
                        "id": "6f414c47529f6c77"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 740,
                "y": 180,
                "wires": [
                    {
                        "id": "f9245079749429cc",
                        "port": 0
                    }
                ]
            },
            {
                "x": 730,
                "y": 240,
                "wires": [
                    {
                        "id": "f9245079749429cc",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "inputLabels": [
            "msg"
        ],
        "outputLabels": [
            "Not Away",
            "Away"
        ]
    },
    {
        "id": "a2cc58931fb6593b",
        "type": "group",
        "z": "0a06f0327cd1dc29",
        "name": "Nightfall protocoll",
        "style": {
            "label": true
        },
        "nodes": [
            "d11efcb28db10190",
            "0e465b6fbba0339a",
            "def8c3fcc3539330",
            "3a0639c7cd173140",
            "8add17a949e56069"
        ],
        "x": 34,
        "y": 179,
        "w": 772,
        "h": 142
    },
    {
        "id": "44c839dd4fe8940f",
        "type": "group",
        "z": "0a06f0327cd1dc29",
        "name": "Clean pooper notifications",
        "style": {
            "label": true
        },
        "nodes": [
            "3148343ee154fdaf",
            "318fe22a76bf1c87",
            "167ea1737f46e9d1",
            "7a63bc9963a9bfc5",
            "8abe19835b914dc0",
            "76335d698b415ff8",
            "6eea37ea61b9f664",
            "fbf360133bc6b7f6",
            "4fdc3140471f276c",
            "6eb95da3d096f15d"
        ],
        "x": 34,
        "y": 19,
        "w": 1452,
        "h": 142
    },
    {
        "id": "98691177aedbf6ae",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "name": "Telegram Send Message",
        "style": {
            "label": true
        },
        "nodes": [
            "0a21af0d54e47b32",
            "0a15a000e93e4149"
        ],
        "x": 44,
        "y": -1,
        "w": 322,
        "h": 82
    },
    {
        "id": "730a2423625e4f44",
        "type": "group",
        "z": "0a06f0327cd1dc29",
        "name": "Turn devices off",
        "style": {
            "label": true
        },
        "nodes": [
            "6e18c6275e41c01e",
            "57a45e26ab8d85ad",
            "05567038c0a491b9",
            "c048551c960a0a6f",
            "2f476ae550e32d94",
            "bced53d9c69a6f01",
            "c5d1b1ae5e4eb9cf",
            "ac56987adf402d5b",
            "94ba4b1419497b7d",
            "f3a82e8157c321d8",
            "ca60081161e3b538",
            "7fbba0bdc5811640"
        ],
        "x": 34,
        "y": 359,
        "w": 1272,
        "h": 202
    },
    {
        "id": "d4dfc8ceda0be7b1",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "name": "Bills Notifications",
        "style": {
            "label": true
        },
        "nodes": [
            "703c1c1d00799394",
            "fd8eccb0f2ad350b",
            "27b6134792ee97e7",
            "11975c0a0c43b144",
            "87d2a8ea5dda0420",
            "b16f9068191818c0",
            "b9b82aee3b99b5fd",
            "e3d870a55f818b4f"
        ],
        "x": 94,
        "y": 139,
        "w": 992,
        "h": 202
    },
    {
        "id": "508ae12d86002f45",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "name": "Telegram Commands",
        "style": {
            "label": true
        },
        "nodes": [
            "6f783c49b76664c7",
            "d5a01fa93b0b4435",
            "e7ad1d1506c6bc2e",
            "4224e80af2ddf4c8",
            "ad06c47a6c1c904e",
            "3c53ea83c9afc30a",
            "dc86f371d7939957",
            "e1edb53ff8f4fab5"
        ],
        "x": 68,
        "y": 673,
        "w": 1864,
        "h": 734
    },
    {
        "id": "e7ad1d1506c6bc2e",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "name": "Guest Mode",
        "style": {
            "label": true,
            "stroke": "#ffC000"
        },
        "nodes": [
            "5c0bd98adaf75e85",
            "ef7d7d01809ec761",
            "c9f84568b3cea9b7",
            "f7eea95364d655dc"
        ],
        "x": 734,
        "y": 999,
        "w": 812,
        "h": 82
    },
    {
        "id": "4224e80af2ddf4c8",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "name": "Help Command",
        "style": {
            "label": true,
            "stroke": "#ffC000"
        },
        "nodes": [
            "1a5b26be2238b1c0",
            "b0be2a841d77c6c3",
            "5944592b450eb32e"
        ],
        "x": 734,
        "y": 859,
        "w": 832,
        "h": 82
    },
    {
        "id": "ad06c47a6c1c904e",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "name": "Telegram Receive Message",
        "style": {
            "label": true,
            "stroke": "#0070c0"
        },
        "nodes": [
            "339ee96552d5f8ec",
            "1017c80d347dc591",
            "02471d6e0ac7beb7"
        ],
        "x": 94,
        "y": 899,
        "w": 592,
        "h": 197
    },
    {
        "id": "3c53ea83c9afc30a",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "name": "Else",
        "style": {
            "label": true,
            "stroke": "#ffC000"
        },
        "nodes": [
            "ebf2eb26c118356f",
            "6d409e3187fb28c4",
            "9ac77f83fddd9b1b"
        ],
        "x": 734,
        "y": 1299,
        "w": 832,
        "h": 82
    },
    {
        "id": "dc86f371d7939957",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "name": "Turn Off Devices",
        "style": {
            "label": true,
            "stroke": "#ffC000"
        },
        "nodes": [
            "ad619b5b11c7c22a",
            "3d670f449623258f"
        ],
        "x": 734,
        "y": 1159,
        "w": 202,
        "h": 82
    },
    {
        "id": "e1edb53ff8f4fab5",
        "type": "group",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "name": "Process Docs",
        "style": {
            "label": true,
            "stroke": "#001f60"
        },
        "nodes": [
            "cb39efb18b5c7094",
            "3ac6aca8d87aad45",
            "8ce8f26ef67e3c24",
            "f16489d0b8207dd8",
            "60eea330ed7afc03",
            "28b7d5f64344e9a9"
        ],
        "x": 734,
        "y": 699,
        "w": 1172,
        "h": 82
    },
    {
        "id": "1a5b26be2238b1c0",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "4224e80af2ddf4c8",
        "x": 760,
        "y": 900,
        "wires": [
            [
                "5944592b450eb32e"
            ]
        ]
    },
    {
        "id": "6d409e3187fb28c4",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "3c53ea83c9afc30a",
        "x": 760,
        "y": 1340,
        "wires": [
            [
                "ebf2eb26c118356f"
            ]
        ]
    },
    {
        "id": "f7eea95364d655dc",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "e7ad1d1506c6bc2e",
        "x": 760,
        "y": 1040,
        "wires": [
            [
                "5c0bd98adaf75e85"
            ]
        ]
    },
    {
        "id": "d5a01fa93b0b4435",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "x": 1620,
        "y": 1040,
        "wires": [
            [
                "6f783c49b76664c7"
            ]
        ]
    },
    {
        "id": "b0be2a841d77c6c3",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "4224e80af2ddf4c8",
        "x": 1540,
        "y": 900,
        "wires": [
            [
                "d5a01fa93b0b4435"
            ]
        ]
    },
    {
        "id": "9ac77f83fddd9b1b",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "3c53ea83c9afc30a",
        "x": 1540,
        "y": 1340,
        "wires": [
            [
                "d5a01fa93b0b4435"
            ]
        ]
    },
    {
        "id": "3d670f449623258f",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "dc86f371d7939957",
        "x": 760,
        "y": 1200,
        "wires": [
            [
                "ad619b5b11c7c22a"
            ]
        ]
    },
    {
        "id": "c048551c960a0a6f",
        "type": "junction",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "x": 540,
        "y": 440,
        "wires": [
            [
                "6e18c6275e41c01e",
                "05567038c0a491b9"
            ]
        ]
    },
    {
        "id": "94ba4b1419497b7d",
        "type": "junction",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "x": 820,
        "y": 500,
        "wires": [
            [
                "ac56987adf402d5b"
            ]
        ]
    },
    {
        "id": "7fbba0bdc5811640",
        "type": "junction",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "x": 1180,
        "y": 400,
        "wires": [
            [
                "ca60081161e3b538"
            ]
        ]
    },
    {
        "id": "87d2a8ea5dda0420",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "b16f9068191818c0"
            ]
        ]
    },
    {
        "id": "cb39efb18b5c7094",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "e1edb53ff8f4fab5",
        "x": 760,
        "y": 740,
        "wires": [
            [
                "3ac6aca8d87aad45"
            ]
        ]
    },
    {
        "id": "e3d870a55f818b4f",
        "type": "junction",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "x": 960,
        "y": 260,
        "wires": [
            [
                "fd8eccb0f2ad350b"
            ]
        ]
    },
    {
        "id": "c5c22aa2.9710c8",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "65fd5070566c323e",
        "type": "telegram bot",
        "botname": "evaristo_hs_bot",
        "usernames": "",
        "chatids": "-4934083120,2119461818,6429197474",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c2a0f9c0d5079943",
        "type": "global-config",
        "env": [
            {
                "name": "EvaristoToken",
                "value": "8295226254:AAEx51G5Ka9mEnp1RVEG_sYVjO8FsxIoKd4",
                "type": "str"
            },
            {
                "name": "PaperlessToken",
                "value": "3604974dd252096efa73d08959c2833e96fd02b8",
                "type": "str"
            }
        ],
        "modules": {}
    },
    {
        "id": "954bcf57e02cad2a",
        "type": "switch",
        "z": "6ea160142734e50c",
        "name": "Away Check",
        "property": "away",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "547f8b9977a541c3",
        "type": "api-current-state",
        "z": "6ea160142734e50c",
        "name": "Nuno Away",
        "server": "c5c22aa2.9710c8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.nuno_away",
        "state_type": "habool",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "away",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "954bcf57e02cad2a"
            ]
        ]
    },
    {
        "id": "6f414c47529f6c77",
        "type": "api-current-state",
        "z": "0dc0f8af07e2db70",
        "name": "Cat Away",
        "server": "c5c22aa2.9710c8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.cat_away",
        "state_type": "habool",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "away",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "f9245079749429cc"
            ]
        ]
    },
    {
        "id": "f9245079749429cc",
        "type": "switch",
        "z": "0dc0f8af07e2db70",
        "name": "Away Check",
        "property": "away",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "d11efcb28db10190",
        "type": "inject",
        "z": "0a06f0327cd1dc29",
        "g": "a2cc58931fb6593b",
        "name": "22:45",
        "props": [],
        "repeat": "",
        "crontab": "45 22 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "def8c3fcc3539330"
            ]
        ]
    },
    {
        "id": "0e465b6fbba0339a",
        "type": "api-call-service",
        "z": "0a06f0327cd1dc29",
        "g": "a2cc58931fb6593b",
        "name": "Send Notification Nuno Phone",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": true,
        "action": "notify.mobile_app_brunerz_pixel",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"Nightfall protocol\",\"message\":\"Check if everything is closed.\",\"data\":{\"actions\":[{\"action\":\"CLOSED\",\"title\":\"Closed\"},{\"action\":\"DISMISS\",\"title\":\"Dismiss\",\"destructive\":true,\"icon\":\"sfsymbols:door\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "mobile_app_brunerz_pixel",
        "x": 530,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "def8c3fcc3539330",
        "type": "subflow:6ea160142734e50c",
        "z": "0a06f0327cd1dc29",
        "g": "a2cc58931fb6593b",
        "name": "",
        "x": 270,
        "y": 240,
        "wires": [
            [
                "0e465b6fbba0339a"
            ],
            [
                "3a0639c7cd173140"
            ]
        ],
        "inputLabels": [
            "msg"
        ],
        "outputLabels": [
            "Not Away",
            "Away"
        ]
    },
    {
        "id": "3a0639c7cd173140",
        "type": "subflow:0dc0f8af07e2db70",
        "z": "0a06f0327cd1dc29",
        "g": "a2cc58931fb6593b",
        "name": "",
        "x": 440,
        "y": 280,
        "wires": [
            [
                "8add17a949e56069"
            ],
            []
        ]
    },
    {
        "id": "8add17a949e56069",
        "type": "api-call-service",
        "z": "0a06f0327cd1dc29",
        "g": "a2cc58931fb6593b",
        "name": "Send Notification Cat Phone",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": true,
        "action": "notify.mobile_app_iphone_catarina",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"Nightfall protocol\",\"message\":\"Check if everything is closed.\",\"data\":{\"actions\":[{\"action\":\"CLOSED\",\"title\":\"Closed\"},{\"action\":\"DISMISS\",\"title\":\"Dismiss\",\"destructive\":true,\"icon\":\"sfsymbols:door\"}]}}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "mobile_app_iphone_catarina",
        "x": 660,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "3148343ee154fdaf",
        "type": "inject",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "07:00",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 07 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "167ea1737f46e9d1"
            ]
        ]
    },
    {
        "id": "318fe22a76bf1c87",
        "type": "api-current-state",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "Check Sand Changed counter",
        "server": "c5c22aa2.9710c8",
        "version": 3,
        "outputs": 2,
        "halt_if": "15",
        "halt_if_type": "num",
        "halt_if_compare": "gte",
        "entity_id": "counter.pooper_sand",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "string",
                "valueType": "entityState"
            },
            {
                "property": "message",
                "propertyType": "msg",
                "value": "Pooper has not been changed for ",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "fbf360133bc6b7f6"
            ],
            []
        ]
    },
    {
        "id": "167ea1737f46e9d1",
        "type": "api-call-service",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "Increment counters",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": true,
        "action": "counter.increment",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "counter.pooper_cleaned",
            "counter.pooper_sand"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "counter",
        "service": "increment",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "318fe22a76bf1c87",
                "7a63bc9963a9bfc5"
            ]
        ]
    },
    {
        "id": "7a63bc9963a9bfc5",
        "type": "api-current-state",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "Check Sand Cleaned counter",
        "server": "c5c22aa2.9710c8",
        "version": 3,
        "outputs": 2,
        "halt_if": "1",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "entity_id": "counter.pooper_cleaned",
        "state_type": "num",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "message",
                "propertyType": "msg",
                "value": "Pooper has not been cleaned for ",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "fbf360133bc6b7f6"
            ],
            []
        ]
    },
    {
        "id": "8abe19835b914dc0",
        "type": "inject",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 360,
        "y": 120,
        "wires": [
            [
                "7a63bc9963a9bfc5"
            ]
        ]
    },
    {
        "id": "76335d698b415ff8",
        "type": "api-call-service",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "Send Notification cat Iphone",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": false,
        "action": "notify.mobile_app_iphone_catarina",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"{{title}}\",\"message\":\"{{msg}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "mobile_app_iphone_catarina",
        "x": 1320,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6eea37ea61b9f664",
        "type": "api-call-service",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "Send Notification Nuno Phone",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": true,
        "action": "notify.mobile_app_brunerz_pixel",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [],
        "labelId": [],
        "data": "{\"title\":\"{{title}}\",\"message\":\"{{message}}\"}",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "notify",
        "service": "mobile_app_brunerz_pixel",
        "x": 1330,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "fbf360133bc6b7f6",
        "type": "function",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "Create the message",
        "func": "msg.title = \"Sauron Things\"\n\nmsg.message = msg.message + msg.payload + \" days\"\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 80,
        "wires": [
            [
                "4fdc3140471f276c",
                "6eb95da3d096f15d"
            ]
        ]
    },
    {
        "id": "4fdc3140471f276c",
        "type": "subflow:6ea160142734e50c",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "",
        "x": 1070,
        "y": 60,
        "wires": [
            [
                "6eea37ea61b9f664"
            ],
            []
        ]
    },
    {
        "id": "6eb95da3d096f15d",
        "type": "subflow:0dc0f8af07e2db70",
        "z": "0a06f0327cd1dc29",
        "g": "44c839dd4fe8940f",
        "name": "",
        "x": 1060,
        "y": 120,
        "wires": [
            [
                "76335d698b415ff8"
            ],
            []
        ]
    },
    {
        "id": "6e18c6275e41c01e",
        "type": "api-call-service",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Turn Digi TV Off",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "remote.digi_r1a"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "task",
                "propertyType": "msg",
                "value": "1",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "blockInputOverrides": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "94ba4b1419497b7d"
            ]
        ]
    },
    {
        "id": "57a45e26ab8d85ad",
        "type": "link in",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Off Command received",
        "links": [
            "ad619b5b11c7c22a"
        ],
        "x": 75,
        "y": 400,
        "wires": [
            [
                "bced53d9c69a6f01"
            ]
        ]
    },
    {
        "id": "05567038c0a491b9",
        "type": "api-call-service",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Turn AC Off",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": false,
        "action": "homeassistant.turn_off",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "climate.living_room_ac"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [
            {
                "property": "task",
                "propertyType": "msg",
                "value": "2",
                "valueType": "str"
            }
        ],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "homeassistant",
        "service": "turn_off",
        "x": 690,
        "y": 520,
        "wires": [
            [
                "94ba4b1419497b7d"
            ]
        ]
    },
    {
        "id": "2f476ae550e32d94",
        "type": "switch",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "c5d1b1ae5e4eb9cf"
            ],
            [
                "c048551c960a0a6f"
            ]
        ]
    },
    {
        "id": "bced53d9c69a6f01",
        "type": "api-current-state",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Check Guest mode",
        "server": "c5c22aa2.9710c8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "num",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guests_mode",
        "state_type": "habool",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "2f476ae550e32d94"
            ]
        ]
    },
    {
        "id": "c5d1b1ae5e4eb9cf",
        "type": "template",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Guests home text",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"type\": \"message\",\n    \"chatId\": \"{{originalMessage.chat.id}}\",\n    \"content\": \"I can't do that, there are guests home\"\n}",
        "output": "json",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "7fbba0bdc5811640"
            ]
        ]
    },
    {
        "id": "ac56987adf402d5b",
        "type": "join",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Wait for all tasks",
        "mode": "custom",
        "build": "array",
        "property": "task",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 970,
        "y": 500,
        "wires": [
            [
                "f3a82e8157c321d8"
            ]
        ]
    },
    {
        "id": "f3a82e8157c321d8",
        "type": "template",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Off actions complete",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"type\": \"message\",\n    \"chatId\": \"{{originalMessage.chat.id}}\",\n    \"content\": \"All off actions are complete!\"\n}",
        "output": "json",
        "x": 1040,
        "y": 440,
        "wires": [
            [
                "7fbba0bdc5811640"
            ]
        ]
    },
    {
        "id": "ca60081161e3b538",
        "type": "link out",
        "z": "0a06f0327cd1dc29",
        "g": "730a2423625e4f44",
        "name": "Send Telegram Message Out",
        "mode": "link",
        "links": [
            "0a21af0d54e47b32"
        ],
        "x": 1265,
        "y": 400,
        "wires": []
    },
    {
        "id": "5c0bd98adaf75e85",
        "type": "api-call-service",
        "z": "1c1f6e258d62731d",
        "g": "e7ad1d1506c6bc2e",
        "name": "Toggle guest mode",
        "server": "c5c22aa2.9710c8",
        "version": 7,
        "debugenabled": false,
        "action": "input_boolean.toggle",
        "floorId": [],
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "input_boolean.guests_mode"
        ],
        "labelId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "blockInputOverrides": true,
        "domain": "input_boolean",
        "service": "toggle",
        "x": 970,
        "y": 1040,
        "wires": [
            [
                "ef7d7d01809ec761"
            ]
        ]
    },
    {
        "id": "ef7d7d01809ec761",
        "type": "api-current-state",
        "z": "1c1f6e258d62731d",
        "g": "e7ad1d1506c6bc2e",
        "name": "Check guest state",
        "server": "c5c22aa2.9710c8",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "input_boolean.guests_mode",
        "state_type": "str",
        "blockInputOverrides": true,
        "outputProperties": [
            {
                "property": "guestmode",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 1170,
        "y": 1040,
        "wires": [
            [
                "c9f84568b3cea9b7"
            ]
        ]
    },
    {
        "id": "c9f84568b3cea9b7",
        "type": "template",
        "z": "1c1f6e258d62731d",
        "g": "e7ad1d1506c6bc2e",
        "name": "Create guest status message",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"type\": \"message\",\n    \"chatId\": \"{{originalMessage.chat.id}}\",\n    \"content\": \"Guest mode is {{guestmode}}\"\n}",
        "output": "json",
        "x": 1400,
        "y": 1040,
        "wires": [
            [
                "d5a01fa93b0b4435"
            ]
        ]
    },
    {
        "id": "339ee96552d5f8ec",
        "type": "telegram receiver",
        "z": "1c1f6e258d62731d",
        "g": "ad06c47a6c1c904e",
        "name": "Received Message",
        "bot": "65fd5070566c323e",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 940,
        "wires": [
            [
                "02471d6e0ac7beb7"
            ],
            []
        ]
    },
    {
        "id": "1017c80d347dc591",
        "type": "switch",
        "z": "1c1f6e258d62731d",
        "g": "ad06c47a6c1c904e",
        "name": "Command filter",
        "property": "originalMessage.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/help",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/guest",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/off",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 580,
        "y": 1040,
        "wires": [
            [
                "1a5b26be2238b1c0"
            ],
            [
                "f7eea95364d655dc"
            ],
            [
                "3d670f449623258f"
            ],
            [
                "6d409e3187fb28c4"
            ]
        ]
    },
    {
        "id": "0a21af0d54e47b32",
        "type": "link in",
        "z": "1c1f6e258d62731d",
        "g": "98691177aedbf6ae",
        "name": "Send Telegram message In",
        "links": [
            "6f783c49b76664c7",
            "ca60081161e3b538",
            "fd8eccb0f2ad350b"
        ],
        "x": 85,
        "y": 40,
        "wires": [
            [
                "0a15a000e93e4149"
            ]
        ]
    },
    {
        "id": "6f783c49b76664c7",
        "type": "link out",
        "z": "1c1f6e258d62731d",
        "g": "508ae12d86002f45",
        "name": "Send Telegram Message Out",
        "mode": "link",
        "links": [
            "0a21af0d54e47b32"
        ],
        "x": 1735,
        "y": 1040,
        "wires": []
    },
    {
        "id": "0a15a000e93e4149",
        "type": "telegram sender",
        "z": "1c1f6e258d62731d",
        "g": "98691177aedbf6ae",
        "name": "Evaristo Send",
        "bot": "65fd5070566c323e",
        "haserroroutput": false,
        "outputs": 1,
        "x": 260,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "ebf2eb26c118356f",
        "type": "template",
        "z": "1c1f6e258d62731d",
        "g": "3c53ea83c9afc30a",
        "name": "Not available",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"type\": \"message\",\n    \"chatId\": \"{{originalMessage.chat.id}}\",\n    \"content\": \"Command not available\"\n}",
        "output": "json",
        "x": 1170,
        "y": 1340,
        "wires": [
            [
                "9ac77f83fddd9b1b"
            ]
        ]
    },
    {
        "id": "ad619b5b11c7c22a",
        "type": "link out",
        "z": "1c1f6e258d62731d",
        "g": "dc86f371d7939957",
        "name": "Turn Off Devices",
        "mode": "link",
        "links": [
            "57a45e26ab8d85ad"
        ],
        "x": 895,
        "y": 1200,
        "wires": []
    },
    {
        "id": "5944592b450eb32e",
        "type": "function",
        "z": "1c1f6e258d62731d",
        "g": "4224e80af2ddf4c8",
        "name": "Create help message",
        "func": "let message = \"\";\n\nmessage = `\n            *Possible commands:*\n    🤖--------------------------------🤖\n    /help: help for all available commands\n    \n    /guest: toggle guest mode\n    \n    /off: Turns off all devices and lights\n    🤖--------------------------------🤖\n    `;\n\n\nmsg.payload = \n{\n    type : \"message\",\n    chatId : msg.originalMessage.chat.id,\n    content : message\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 900,
        "wires": [
            [
                "b0be2a841d77c6c3"
            ]
        ]
    },
    {
        "id": "703c1c1d00799394",
        "type": "function",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "name": "Create notification",
        "func": "let message = \"\";\n\nlet doc_link = \"http://192.168.1.141:8000/documents/\" + msg.payload.doc_id + \"/preview\";\n\nif (msg.payload.tags.includes(\"EDP\"))\n{\n    message = `\n        📄 *Oublá, olha a luz deste mes!*\n\n        ⚡--------------------------------⚡\n        🧾            EDP\n        📅   ${msg.payload.due_date}\n        💶   ${msg.payload.value} €\n        🔗 <a href=\"${doc_link}\">Documento</a>\n        ⚡--------------------------------⚡\n        `;\n}\nelse if (msg.payload.tags.includes(\"Agua\"))\n{\n    message = `\n        📄 *Oublá, há uma fatura nova para pagar!*\n\n        💧--------------------------------💧\n        🧾 Serviço: Agua\n        📅 Data Limite: ${msg.payload.due_date}\n        🏢 Entidade: ${msg.payload.entity}\n        🔢 Referencia: ${msg.payload.reference}\n        💶 Valor: ${msg.payload.value} €\n        🔗 <a href=\"${doc_link}\">Documento</a>\n        💧--------------------------------💧\n        `;\n}\nelse if (msg.payload.tags.includes(\"Digi\"))\n{\n    message = `\n        📄 *Oublá, há uma fatura nova para pagar!*\n        \n        🌐--------------------------------🌐\n        🧾 Serviço: Digi\n        📅 Data Limite: ${msg.payload.due_date}\n        🏢 Entidade: ${msg.payload.entity}\n        🔢 Referencia: ${msg.payload.reference}\n        💶 Valor: ${msg.payload.value} €\n        🔗 <a href=\"${doc_link}\">Documento</a>\n        🌐--------------------------------🌐\n        `;\n}\nelse if (msg.payload.tags.includes(\"Condominio\")) {\n    message = `\n        📄 *Oublá, há uma fatura nova para pagar!*\n        \n        🏠--------------------------------🏠\n        🧾 Serviço: Condominio\n        📅 Data Limite: ${msg.payload.due_date}\n        🔢 IBAN: ${msg.payload.iban}\n        💶 Valor: ${msg.payload.value} €\n        🔗 <a href=\"${doc_link}\">Documento</a>\n        🏠--------------------------------🏠\n        `;\n}\n\nmsg.payload = \n{\n    type : \"message\",\n    chatId : \"-4934083120\",\n    content : message,\n    options: { parse_mode: \"HTML\", disable_web_page_preview: true }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 260,
        "wires": [
            [
                "e3d870a55f818b4f"
            ]
        ]
    },
    {
        "id": "fd8eccb0f2ad350b",
        "type": "link out",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "0a21af0d54e47b32"
        ],
        "x": 1045,
        "y": 260,
        "wires": []
    },
    {
        "id": "27b6134792ee97e7",
        "type": "http in",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "name": "Paperless Webhook",
        "url": "/paperless-webhook",
        "method": "post",
        "upload": true,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "11975c0a0c43b144",
                "87d2a8ea5dda0420"
            ]
        ]
    },
    {
        "id": "11975c0a0c43b144",
        "type": "http response",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 480,
        "y": 180,
        "wires": []
    },
    {
        "id": "02471d6e0ac7beb7",
        "type": "switch",
        "z": "1c1f6e258d62731d",
        "g": "ad06c47a6c1c904e",
        "name": "Filter by message or doc",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "document",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "cb39efb18b5c7094"
            ],
            [
                "1017c80d347dc591"
            ]
        ]
    },
    {
        "id": "3ac6aca8d87aad45",
        "type": "function",
        "z": "1c1f6e258d62731d",
        "g": "e1edb53ff8f4fab5",
        "name": "Prepare request",
        "func": "msg.method = \"GET\";\nmsg.url = msg.payload.weblink;   // Full Telegram download URL\nmsg.headers = {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 740,
        "wires": [
            [
                "8ce8f26ef67e3c24"
            ]
        ]
    },
    {
        "id": "8ce8f26ef67e3c24",
        "type": "http request",
        "z": "1c1f6e258d62731d",
        "g": "e1edb53ff8f4fab5",
        "name": "Get file",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1100,
        "y": 740,
        "wires": [
            [
                "f16489d0b8207dd8"
            ]
        ]
    },
    {
        "id": "f16489d0b8207dd8",
        "type": "function",
        "z": "1c1f6e258d62731d",
        "g": "e1edb53ff8f4fab5",
        "name": "Create Post request",
        "func": "//Paperless API key\nlet apitoken = \"3604974dd252096efa73d08959c2833e96fd02b8\";\n\nmsg.headers = null;\nmsg.headers = {\n    \"Authorization\": \"Token \" + apitoken,\n    \"Content-Type\": \"multipart/form-data\"\n};\n\nmsg.method = \"POST\";\nmsg.url = \"http://192.168.1.141:8000/api/documents/post_document/\";\n\nconst buffer = Buffer.from(msg.payload);\nconst filename = msg.originalMessage.document.file_name;\nconst mime = msg.originalMessage.document.mime_type;\n\n\n\n// === Build multipart form-data ===\nmsg.payload = {\n    document: {\n        value: buffer,\n        options: {\n            filename: filename,\n            contentType: mime\n        }\n    },\n    custom_fields: {\n        1: true\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 740,
        "wires": [
            [
                "60eea330ed7afc03"
            ]
        ]
    },
    {
        "id": "60eea330ed7afc03",
        "type": "http request",
        "z": "1c1f6e258d62731d",
        "g": "e1edb53ff8f4fab5",
        "name": "Paperless Post",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1560,
        "y": 740,
        "wires": [
            [
                "28b7d5f64344e9a9"
            ]
        ]
    },
    {
        "id": "b16f9068191818c0",
        "type": "switch",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "name": "",
        "property": "payload.telegram",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "False",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 510,
        "y": 280,
        "wires": [
            [
                "703c1c1d00799394"
            ],
            [
                "b9b82aee3b99b5fd"
            ],
            []
        ]
    },
    {
        "id": "b9b82aee3b99b5fd",
        "type": "function",
        "z": "1c1f6e258d62731d",
        "g": "d4dfc8ceda0be7b1",
        "name": "Create doc notification",
        "func": "let doc_link = \"http://192.168.1.141:8000/documents/\" + msg.payload.doc_id + \"/preview\";\n\n// Build the Telegram message\nconst message = `\n📄 *Document Uploaded*\n\n*Name:* ${msg.payload.doc_name}\n*Tipo:* ${msg.payload.doc_type}\n*Date:* ${msg.payload.doc_date}\n*Corresp:* ${msg.payload.doc_correspondent}\n*Tags:* ${msg.payload.doc_tags}\n\n<a href=\"${doc_link}\">Documento</a>\n`;\n\nmsg.payload = \n{\n    type : \"message\",\n    chatId : flow.get(\"telegram_file_chat_id\"),\n    content: message,\n    options: { parse_mode: \"HTML\", disable_web_page_preview: true }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "e3d870a55f818b4f"
            ]
        ]
    },
    {
        "id": "28b7d5f64344e9a9",
        "type": "change",
        "z": "1c1f6e258d62731d",
        "g": "e1edb53ff8f4fab5",
        "name": "Save context chatID",
        "rules": [
            {
                "t": "set",
                "p": "telegram_file_chat_id",
                "pt": "flow",
                "to": "originalMessage.chat.id",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 740,
        "wires": [
            []
        ]
    }
]